body {
    background-color: rgb(231, 255, 176);
    color: rgb(5, 113, 255);
    font-family: Arial;
    margin: 0px;
    text-decoration: none;
}
header {
    padding: 10px; 
    font-size: 16pt;
}
footer {
    padding: 10px; 
    font-size: 16pt;
    position: fixed;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
}
main {
    padding: 10px; 
    font-size: 16pt;
    margin: 10px 20px 45px;
}
a {text-decoration: none;
    transition: 2s 3s;
    }

a:link {
    color: rgb(115, 19, 194);
}
a:visited {
    color: rgb(3, 255, 45);
}

a:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline;
    transition: 0.5s;
}
a:active {
    color: black;
    opacity: 0.3;
}

div.menu {
    border: 6px solid;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}
div.menu:hover {
    background-color: rgb(250, 192, 0);
    box-shadow: 0 0 10px rgb(255, 10, 10);
}

h1.Заголовок {
    text-align: center;
}